{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/regain-access.css' %}">
{% endblock %}

{% block title %} Email Sent {% endblock %}

{% block content %}
    {% include "partials/no_page_transition_panel.html" %}

    <div class="container-fluid p-0 login-wrapper login-bg position-relative min-vh-100 overflow-hidden">

        <div class="image-section">
            <picture class="theme-img-light">
                <img src="https://i.imgur.com/1zKDj0E.jpeg" alt="Light background" class="responsive-bg-img">
            </picture>
            <picture class="theme-img-dark">
                <img src="https://i.imgur.com/Y5lnSGL.jpeg" alt="Dark background" class="responsive-bg-img">
            </picture>
        </div>

        <div class="row g-0 h-100 min-vh-100 position-relative z-2">
            <div class="col-12 col-md-6 col-lg-5 d-flex align-items-center justify-content-center p-4 p-md-5 form-container">
                <div class="login-box w-100 text-center" style="max-width: 360px;">
                    <i class="bi bi-envelope-check reset-status-icon reset-icon-orange"></i>
                    <h1 class="login-title mb-4 mt-2">Check your inbox</h1>
                    <p class="custom-subtext mb-5">We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive them shortly.</p>

                    <p class="custom-subtext mb-4 reset-subtext-small">
                        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                    </p>

                    <a href="{% url 'login' %}" class="btn btn-outline-secondary rounded-pill w-100 py-2.5">
                        Back to login
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}