{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/regain-access.css' %}">
{% endblock %}

{% block title %} Password Changed {% endblock %}

{% block content %}
    {% include "partials/no_page_transition_panel.html" %}

    <div class="container-fluid p-0 login-wrapper login-bg position-relative min-vh-100 overflow-hidden">

        <div class="image-section">
            <picture class="theme-img-light">
                <img src="https://i.imgur.com/1zKDj0E.jpeg" alt="Light background" class="responsive-bg-img">
            </picture>
            <picture class="theme-img-dark">
                <img src="https://i.imgur.com/Y5lnSGL.jpeg" alt="Dark background" class="responsive-bg-img">
            </picture>
        </div>

        <div class="row g-0 h-100 min-vh-100 position-relative z-2">
            <div class="col-12 col-md-6 col-lg-5 d-flex align-items-center justify-content-center p-4 p-md-5 form-container">
                <div class="login-box w-100 text-center" style="max-width: 360px;">
                    <i class="bi bi-shield-check reset-icon-green"></i>
                    <h1 class="login-title mb-4 mt-2">Password changed!</h1>
                    <p class="custom-subtext mb-5">Your password has been set successfully. You can now log in using your new credentials.</p>

                    <a href="{% url 'login' %}" class="btn btn-custom-orange rounded-pill w-100 py-2.5">
                        Go to Login
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}